<div class="container">
  <div class="card-register">

    <h2 class="mb-4">Registro</h2>

    <input [(ngModel)]="nombre" placeholder="Nombre">
    <input [(ngModel)]="apellido" placeholder="Apellido">
    <input [(ngModel)]="edad" type="number" placeholder="Edad">

    <input [(ngModel)]="email" placeholder="Email">
    <input [(ngModel)]="password" type="password" placeholder="Contraseña">

    <button 
      (click)="register()" 
      class="btn btn-success w-100"
      [disabled]="loading">

      {{ loading ? 'Registrando...' : 'Registrarse' }}

    </button>

    <p *ngIf="error" class="text-danger mt-3">{{ error }}</p>
    <p *ngIf="success" class="text-success mt-3">{{ success }}</p>

  </div>
</div>