<div class="encuesta-container">

  <h2>Encuesta</h2>

  <form
    [formGroup]="encuestaForm"
    (ngSubmit)="enviarEncuesta()">

    <!-- NOMBRE -->

    <input
      formControlName="nombre"
      placeholder="Nombre"
      class="form-control mb-1">

    @if (
      encuestaForm.get('nombre')?.invalid &&
      encuestaForm.get('nombre')?.touched
    ) {

      <small class="text-danger">
        El nombre es obligatorio
      </small>
    }

    <!-- APELLIDO -->

    <input
      formControlName="apellido"
      placeholder="Apellido"
      class="form-control mb-1">

    @if (
      encuestaForm.get('apellido')?.invalid &&
      encuestaForm.get('apellido')?.touched
    ) {

      <small class="text-danger">
        El apellido es obligatorio
      </small>
    }

    <!-- EDAD -->

    <input
      formControlName="edad"
      type="number"
      placeholder="Edad"
      class="form-control mb-1">

    @if (
      encuestaForm.get('edad')?.invalid &&
      encuestaForm.get('edad')?.touched
    ) {

      <small class="text-danger">
        Edad entre 18 y 99 años
      </small>
    }

    <!-- TELÉFONO -->

    <input
      formControlName="telefono"
      placeholder="Teléfono"
      class="form-control mb-1">

    @if (
      encuestaForm.get('telefono')?.invalid &&
      encuestaForm.get('telefono')?.touched
    ) {

      <small class="text-danger">
        Solo números, máximo 10 caracteres
      </small>
    }

    <hr>

    <!-- JUEGO FAVORITO -->

    <h5>¿Cuál es tu juego favorito?</h5>

    <label class="radio-chip">

      <input
        type="radio"
        value="Mayor o Menor"
        formControlName="juegoFavorito">

      <span>Mayor o Menor</span>

    </label>

    <label class="radio-chip">

      <input
        type="radio"
        value="Ahorcado"
        formControlName="juegoFavorito">

      <span>Ahorcado</span>

    </label>

    <label class="radio-chip">

      <input
        type="radio"
        value="Pong Arcano"
        formControlName="juegoFavorito">

      <span>Pong Arcano</span>

    </label>

    <label class="radio-chip mb-3">

      <input
        type="radio"
        value="Preguntados"
        formControlName="juegoFavorito">

      <span>Preguntados</span>

    </label>

    @if (
      encuestaForm.get('juegoFavorito')?.invalid &&
      encuestaForm.get('juegoFavorito')?.touched
    ) {

      <small class="text-danger d-block mb-2">
        Seleccioná un juego favorito
      </small>
    }

    <!-- ASPECTOS -->

    <h5>¿Qué valorás más?</h5>

    <select
      formControlName="aspectos"
      class="form-select mb-1">

      <option value="">
        Seleccionar
      </option>

      <option value="Diseño">
        Diseño
      </option>

      <option value="Dificultad">
        Dificultad
      </option>

      <option value="Velocidad">
        Velocidad
      </option>

    </select>

    @if (
      encuestaForm.get('aspectos')?.invalid &&
      encuestaForm.get('aspectos')?.touched
    ) {

      <small class="text-danger">
        Seleccioná una opción
      </small>
    }

    <!-- RECOMENDAR -->

    <h5>¿Recomendarías la sala?</h5>

    <label class="radio-chip">

      <input
        type="radio"
        value="Sí"
        formControlName="recomendaria">

      <span>Sí, la recomendaría</span>

    </label>

    <label class="radio-chip mb-3">

      <input
        type="radio"
        value="No"
        formControlName="recomendaria">

      <span>No la recomendaría</span>

    </label>

    @if (
      encuestaForm.get('recomendaria')?.invalid &&
      encuestaForm.get('recomendaria')?.touched
    ) {

      <small class="text-danger d-block mb-2">
        Debes seleccionar una opción
      </small>
    }

    <!-- SUGERENCIA -->

    <h5 class="mt-3">
      Sugerencias
    </h5>

    <textarea
      formControlName="sugerencia"
      rows="4"
      class="form-control mb-1">
    </textarea>

    @if (
      encuestaForm.get('sugerencia')?.invalid &&
      encuestaForm.get('sugerencia')?.touched
    ) {

      <small class="text-danger">
        La sugerencia es obligatoria
      </small>
    }

    <!-- BOTÓN -->

    <button
      type="submit"
      class="btn btn-primary w-100"
      [disabled]="loading">

      {{
        loading
          ? 'Enviando encuesta...'
          : 'Enviar encuesta'
      }}

    </button>

    @if (error) {

      <p class="text-danger mt-3">
        {{ error }}
      </p>
    }

    @if (success) {

      <p class="text-success mt-3">
        {{ success }}
      </p>
    }

  </form>

</div>
