<div class="container text-center mt-5">

  <div class="card-juego">

    <h1>
      Mayor o Menor
    </h1>

    <h3>
      Puntaje: {{ puntaje }}
    </h3>

    <div class="carta">

      <img
        [src]="obtenerCartaVisual(cartaActual)"
        class="carta-tarot">

    </div>

    @if (!perdio) {

      <div class="botones">

        <button
          class="btn-tarot"
          (click)="elegir('mayor')">

          Mayor ↑

        </button>

        <button
          class="btn-tarot"
          (click)="elegir('menor')">

          Menor ↓

        </button>

      </div>

    }

    @if (perdio) {

      <div class="alert alert-danger mt-4">

        Perdiste

      </div>

      <button
        class="btn-tarot mt-3"
        (click)="reiniciar()">

        Jugar otra vez

      </button>

    }

  </div>

</div>