<div class="ahorcado-bg">

  <div class="container text-center pt-5">

    <div class="card-ahorcado p-4">

      <h1 class="mb-4">
        Juego del Ahorcado
      </h1>

      <h4 class="mb-3">
        Puntaje: {{ puntaje }}
      </h4>

      <h2 class="palabra mb-4">
        {{ palabraOculta.join(' ') }}
      </h2>

      <h4>
        Intentos restantes: {{ intentos }}
      </h4>

      <div class="letras-container mt-4">

        @for (letra of abecedario; track letra) {

          <button
            class="btn btn-dark letra-btn"
            [disabled]="letrasUsadas.includes(letra) || gano || perdio"
            (click)="seleccionarLetra(letra)">

            {{ letra }}

          </button>

        }

      </div>

      @if (gano) {

        <div class="alert alert-success mt-4">

          ¡Ganaste!

        </div>

      }

      @if (perdio) {

        <div class="alert alert-danger mt-4">

          Perdiste. La palabra era:
          <strong>{{ palabraSecreta }}</strong>

        </div>

      }

      <button
        class="btn btn-primary mt-4"
        (click)="reiniciar()">

        Jugar otra vez

      </button>

    </div>

  </div>

</div>