<nav class="navbar navbar-expand-lg navbar-dark bg-black px-4">

  <div class="ms-auto">

    <a routerLink="/" class="nav-btn me-2">
      Home
    </a>

    <ng-container *ngIf="!(user$ | async)">
      <a routerLink="/login" class="nav-btn me-2">
        Login
      </a>

      <a routerLink="/registro" class="nav-btn me-2">
        Registro
      </a>
    </ng-container>

    <ng-container *ngIf="user$ | async">
      <a routerLink="/menu" class="nav-btn me-2">
        Menú
      </a>

      <a (click)="logout()" class="nav-btn me-2" style="cursor:pointer;">
        Logout
      </a>
    </ng-container>

    <a routerLink="/quien-soy" class="nav-btn">
      Quién Soy
    </a>

  </div>

</nav>