<div class="fantasma-page">

  <div class="fantasma-overlay">

    <div
      class="card-fantasma"
      [class.listo]="estado === 'listo'"
      [class.perdio]="estado === 'perdio'">

      <h1 class="titulo-fantasma">
       Pulso Fantasma
      </h1>

      <p class="subtitulo-fantasma">
        Escucha el llamado del portal y reacciona antes de que desaparezca.
      </p>

      <h3 class="ronda">
        Ronda {{ ronda }}
      </h3>

      <div class="zona-juego">

        <h2 class="mensaje">
          {{ mensaje }}
        </h2>

        @if (estado === 'esperando' || estado === 'listo') {

          <button
            class="btn-fantasma"
            (click)="reaccionar()">

            TOCAR

          </button>

        }

        @if (estado === 'resultado') {

          <div class="stats">

            <p>
               Tiempo: {{ tiempoReaccion }} ms
            </p>

            <p>
               Promedio: {{ promedio }} ms
            </p>

            <p>
               Puntaje: {{ puntaje }}
            </p>

          </div>

          <button
            class="btn-fantasma"
            (click)="siguienteRonda()">

            Siguiente ronda

          </button>

        }

        @if (estado === 'perdio') {

          <div class="stats">

            <p>
               Puntaje final: {{ puntaje }}
            </p>

            <p>
               Promedio: {{ promedio }} ms
            </p>

          </div>

          <button
            class="btn-fantasma"
            (click)="reiniciar()">

            Reintentar

          </button>

        }

      </div>

    </div>

  </div>

</div>