.home-container {

  min-height: 100vh;

  background-size: cover;

  background-position: center;

  background-repeat: no-repeat;

  background-image: url('/assets/wallpapergeneral.jpg');
}

.overlay {

  min-height: 100vh;

  background: rgba(0,0,0,0.55);

  backdrop-filter: blur(2px);

  padding-bottom: 60px;
}

.titulo {

  color: white;

  font-size: 3.5rem;

  font-weight: 700;

  margin-bottom: 10px;
}

.subtitulo {

  color: rgba(255,255,255,0.8);

  margin-bottom: 50px;

  font-size: 1.1rem;
}

.bienvenida {

  color: white;

  margin-bottom: 50px;

  font-weight: 500;
}

.games-grid {

  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 30px;

  justify-items: center;
}

.game-card {

  width: 320px;

  min-height: 430px;

  background: rgba(255,255,255,0.06);

  border: 1px solid rgba(255,255,255,0.08);

  border-radius: 24px;

  padding: 25px;

  color: white;

  backdrop-filter: blur(10px);

  transition: all 0.25s ease;

  display: flex;

  flex-direction: column;

  align-items: center;

  justify-content: space-between;

  box-shadow:
    0 8px 25px rgba(0,0,0,0.25);
}

.game-card:hover {

  transform: translateY(-4px);

  background: rgba(255,255,255,0.09);
}

.game-image {

  width: 100%;

  height: 180px;

  border-radius: 18px;

  background-size: cover;

  background-position: center;

  background-repeat: no-repeat;

  margin-bottom: 20px;
}

.game-card h2 {

  margin-bottom: 15px;

  text-align: center;

  font-size: 1.5rem;
}

.game-card p {

  opacity: 0.82;

  margin-bottom: 25px;

  text-align: center;

  min-height: 70px;

  display: flex;

  align-items: center;
}

.game-btn {

  width: 180px;

  padding: 14px;

  border-radius: 16px;

  text-decoration: none;

  color: white;

  font-weight: bold;

  text-align: center;

  background: rgba(255,255,255,0.10);

  transition: all 0.25s ease;

  display: flex;

  justify-content: center;

  align-items: center;
}

.game-btn:hover {

  background: rgba(255,255,255,0.18);

  transform: translateY(-2px);

  cursor: pointer;
}

.logout-container {

  display: flex;

  justify-content: flex-end;

  margin-top: 60px;
}

.logout-btn {

  border: none;

  padding: 14px 24px;

  border-radius: 16px;

  background: rgba(255,80,80,0.2);

  color: white;

  font-weight: bold;

  transition: all 0.25s ease;
}

.logout-btn:hover {

  background: rgba(255,80,80,0.35);

  cursor: pointer;
}


.guest-box {

  margin-top: 80px;

  color: white;

  background: rgba(255,255,255,0.05);

  padding: 40px;

  border-radius: 24px;

  backdrop-filter: blur(6px);
}


.ahorcado-img {

  background-image: url('/assets/ahorcado.jpg');
}
.mayor-menor-img {

  background-image: url('/assets/mayormenor.jpg');
}

.chat-img {

  background-image: url('/assets/chat.jpg');
}

.preguntados-img {

  background-image: url('/assets/rickandmorty.jpg');
}

.pulso-img {

  background-image: url('/assets/fantasma.jpg');
}

.resultados-img {

  background-image: url('/assets/resultados.jpg');
}